# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Model files
*.pth
*.pt
*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

future_prices/es_with_indicators.csv
./venv
future_prices/es_with_indicators.csv
